<h1>Restruaunt Ratings</h1>

<%= form_for Ratings.new, url: '/rate' do |f| %>
	Title: <%= f.text_field :title %>
	Rating: <%= f.number_field :rating %><br>
	Review: <%= f.text_area :review %><br>
	<%= f.submit 'Share' %>
<% end %>

<% @ratings.each do |rating| %>
	<div class="review">
		<h2><%= rating.title.capitalize %></h2>
		<p>Rating: <%= rating.rating %></p>
		<p><%= rating.review %></p>
	</div>
<% end %>