<h1>Restruaunt Ratings</h1>

<%= form_for Ratings.new, url: '/rate' do |f| %>
	Title: <%= f.text_field :title %>
	Rating: <%= f.number_field :rating %><br>
	Review: <%= f.text_area :review %><br>
	<%= f.submit 'Share' %>
<% end %>
  

	
<table>
	<caption>table title and/or explanatory text</caption>
	<thead>
		<tr>
			<th>Title</th>
			<th>Rating</th>
			<th>Review</th>
		</tr>
	</thead>
	<tbody>
		<% @ratings.each do |rating| %>
			<tr>
				<td><%= rating.title %></td>
				<td><%= rating.rating %></td>
				<td><%= rating.review %></td>
			</tr>
		<% end %>
	</tbody>
</table>
